<table class='table table-condensed table-striped table-hover margin-top-15'>
  <tr>
    <th>ID</th>
    <th>Loan Amount</th>
    <th>Down Payment</th>
    <th>Interest Rate</th>
    <th>View</th>
  </tr>
    <% @documents.each do |document| %>
      <%= render 'document_table_row', document: document %>
    <% end %>
</table>