<table>
  <tr>
    <th>ID</th>
    <th>Loan Amount</th>
    <th>Interest Rate</th>
    <th>Downpayment</th>
    <th>View</th>
  </tr>
    <% @documents.each do |document| %>
      <%= render 'document_table_row', document: document %>
    <% end %>
  <tr>
  </tr>
</table>